
# DAY4
## python 조건반복 문제
 Q1

In [ ]:
c=input("신호입력:")[0]
if c=='R':
    out_c="정지"
elif c=='Y':
    out_c="경고"
elif c=='G':
    out_c="진행"
else:
    out_c="잘못입력"
print(out_c)

 Q2

In [ ]:
x=input("문자입력")[0]
if '0'<=x<='9':
    print('숫자')
elif 'A'<=x<='Z':
    print("대문자")
elif 'a'<=x<='z':
    print("소문자")
else:
    print("특수문자")

Q3

In [ ]:
n1,n2,n3=input("3개의 정수입력:(구분자는 ',')").split(',')
end=n1 if n1<n3 else n3 if n1<n2 else n2 if n2<n3 else n3
print(f"{n1},{n2},{n3} 중 최소값은",end)

Q4

In [ ]:
x = int(input("수입력:"))
for i in range(x+1):
    print(i,end="\t")
    if i%4==0:
        print()

Q5

In [ ]:
n=int(input("정수입력:"))
#1
print("1")
for i in range(1,n+1):
    print("*"*i)
#2
print("2")
for i in range(n,0,-1):
    print("*"*i)
#3
print("3")
for i in range(1,n+1):
    print(" "*(n-i)+"*"*i)
#4
print("4")
for i in range(n,0,-1):
    print(" "*(n-i)+"*"*i)
#5
print("5")
for i in range(1,n+1):
    print("*" * i+"  " * (n - i) + "*" * i)

Q7

In [ ]:
n = int(input("과목수를 입력하시오:"))
total=max_v=average=0
min_v=101
for i in range(1,n+1):
    num=int(input("점수입력:"))
    if num<0:
        i-=1
        break
    total+=num
    max_v = max_v if max_v > num else num
    min_v = min_v if min_v < num else num

average=total//i
print("최고점수 :",max_v)
print("최저점수 :",min_v)
print("평균 :",average)

In [ ]:
n = int(input("과목수를 입력하시오:"))
c=total=max_v=average=0
min_v=101
ck=False
for i in range(1,n+1):
    in_data=input("점수입력:").split()
    if len(in_data)>1:
        num_l=map(int,in_data)
        for num in num_l:
            if num < 0:
                ck=True
                break
            total += num
            max_v = max_v if max_v > num else num
            min_v = min_v if min_v < num else num
            c+=1
            if c==n:
                break
    else:
        num=int(in_data[0])
        if num<0:
            break
        total+=num
        max_v = max_v if max_v > num else num
        min_v = min_v if min_v < num else num
        c+=1
    if c==n:
        break
    if ck:
        break

average=total//c
print("최고점수 :",max_v)
print("최저점수 :",min_v)
print("평균 :",average)

In [ ]:
n = int(input("과목수를 입력하시오:"))
x=[]
total = 0
average = 0
for i in range(0,n) :
    a=int(input("점수:"))
    if a < 0:
        break
    x.append(a)
    total +=x[-1]
average = total / len(x)

print(f"최고 점수 : {max(x)}")
print(f"최저 점수 : {min(x)}")
print(f"평균 : {average:.2f}")

In [ ]:
n = int(input("과목수를 입력하시오:"))#과목수입력
c=total=max_v=average=0
min_v=101
for i in range(1,n+1):
    in_data=list(map(int,input("점수입력:(구분자 ' ')").split()))
    if len(in_data)>n:
        print(f"입력점수는 과목수{n}를 넘지 못합니다.")
        in_data=in_data[:n]#??
        print(f"data가 수정되어 {in_data}로 동작합니다.")
        for num in in_data:
            if num<0:
                break
            total+=num
            max_v = max_v if max_v > num else num
            min_v = min_v if min_v < num else num
            c += 1
            if c==n:
                print("입력 과목수 달성으로 종료합니다.")
                break
        break
    elif len(in_data)>1:
        print("다중 입력 동작")
        for num in in_data:
            if num < 0:
                break
            total += num
            max_v = max_v if max_v > num else num
            min_v = min_v if min_v < num else num
            c += 1
            if c == n:
                break
    else:
        print("단일 입력 동작")
        num=in_data[0]
        if num < 0:
            break
        total += num
        max_v = max_v if max_v > num else num
        min_v = min_v if min_v < num else num
        c += 1
    if c == n:
        print("입력 과목수 달성으로 종료합니다.")
        break
average=total//c
print("최고점수 :",max_v)
print("최저점수 :",min_v)
print("평균 :",average)
print(c)

Q8

In [ ]:
n,m=map(int,input("정수 2개 입력(구분자 ' '):").split())
#n = int(input("행을 입력하시오:"))
#m = int(input("열을 입력하시오:"))
for i in range(1, n + 1):
    for j in range(1, m+1):
        print(i*j, end=" ")
    print()

Q9

In [ ]:
n=int(input("정수입력:"))
sum_v=0
for i in range(1,n+1):
    sum_v+=i
print(sum_v)

Q10

In [ ]:
x = int(input("값을 입력하시오:"))
for i in range(0,x+1,1) :
    if i==x:
        print(i)
    else:
        print(i,end=",")

Q11

In [ ]:
x = int(input("값을 입력하시오:"))
for i in range(1,101,1) :
    if i<x :
        print(i,end=",")
    else :
        print("사용자의 요청에의해 종료")
        break

Q12

In [ ]:
x = int(input("값을 입력하시오:"))
for i in range(101) :
    if i%x == 0 :
        continue
    else :
        if i==1:
            print("1",end="")
        else:
            print(",",i,sep="",end="")

Q13

In [ ]:
n1,n2=map(int,input("2개의 정수입력(구분자 ','):").split(','))
for i in range(0,n1,n2):
    print(i,end=',')
print("\b")

Q14

In [ ]:
c1 = c2 = 0
while True:
    in_n = input("10개의 정수를 입력하시오:").split()
    #in_n = list(map(int,input("10개의 정수를 입력하시오:").split()))
    if len(in_n) == 10:
        break
    print("10개의 정수 입력시 동작합니다.")
for i in in_n:
    i = int(i)
    if i % 2 == 0:
        c1 += 1
    else:
        c2 += 1
print(f"홀수:{c2}\n짝수:{c1}")

## 리스트

In [1]:
l=[1,2,3,4,5]
l[2]#차원 내리기

3

In [3]:
l=[[1,2,3,4,5],1,2,3,4,5]
len(l)

1

In [4]:
l[0][2]

3

In [ ]:
data1=[1,2,3,4,5]
data1[0]
data2=[data1,data1,data1,data1]
data2[0]==data1
data2[0][0]

In [ ]:
d=[[1,2,3,4,5],1,2,3,4,5]

주소:데이터가 작성되기 시작한 시작지점<br>
인덱스: 상대주소 , 걸음수(보폭은 반드시 일정)<br>
이름:객체의 주소

In [5]:
l=[1,2,3,4,5]
print(l[2],l[-3])

3 3

In [7]:
type(l[2])

int

In [11]:
l=[1,2,3,4,5,6,7,8,9,10]
print(l[:] is l)

False

In [17]:
l=[1,2,3,4,5,6,7,8,9,10]
#얕은
l2=l
print(l2 == l)
print(l2 is l)
print(l,l2,sep='\n')
l2[0]=10
print(l,l2,sep='\n')

True
True
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
l=[1,2,3,4,5,6,7,8,9,10]
#깊은
l3=l[:]
print(l3 == l)
print(l3 is l)
print(l,l3,sep='\n')
l3[0]=10
print(l,l3,sep='\n')

True
False
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 2, 3, 4, 5, 6, 7, 8, 9, 10]

슬라이싱<br>
리스트[시작인덱스:종료인덱스:(간격,읽는 방법)]<br>
슬라이싱은 방향성이 있다.<br>
방향성(음/양)에 따라 인덱스의 위치는 변화한다.

In [20]:
l=[1,2,3,4,5]
l[::+1]#[좌측끝 데이터:우측끝 데이터:양의 방향으로 1의 간격]
l[::-1]#[우측끝 데이터:좌측끝 데이터:음의 방향으로 1의 간격]

[1, 2, 3, 4, 5]

양의 방향

In [30]:
print(l)
print(l[::+1])#좌->우

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

음의 뱡향

In [31]:
print(l)
print(l[::-1])#좌<-우

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [37]:
l[-1::1]

[5]

In [41]:
a,s,d,f=[1,2,3,4]
print(a,s,d,f)
a,s,d,f=(1,2,3,4)
print(a,s,d,f)
a,s,d,f={1,2,3,4}
print(a,s,d,f)
a,s,d,f={1:5,2:5,3:5,4:5}
print(a,s,d,f)

1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

리스트 메소드

In [ ]:
#append 값추가
l=[]
print(l,len(l))
l.append(10)
print(l,len(l))
l.append([101,2,3,4])
print(l,len(l))
l.append('문자열')
print(l,len(l))
#extend 구조에서 각각 값추가 단일값은 넣을 수 없다.
l=[]
print(l,len(l))
l.extend([10])
print(l,len(l))
l.extend([10,[1,2,3]])
print(l,len(l))
l.extend({10,1})
print(l,len(l))
l.extend('101')
print(l,len(l))
#insert
l=[1]
l[0]=10
print(l,len(l))
l.insert(0,10)
print(l,len(l))
l.insert(-100000,100)
print(l,len(l))
#pop
print(l.pop(0))
print(l,len(l))
#remove
l=[10,5,10]
print(l.remove(10))
print(l,len(l))
#clear
print(l.clear())
print(l)
#count
print(l.count(0))
l=[1,2,3,1,2,3,1,2,3]
print(l.count(1))
#index
print(l.index(2))
print(l)
값_1의_index_기록=[]
while l.count(1)!=0:
  값_1의_index_기록.append(l.index(1))
  l.remove(1)
print(값_1의_index_기록)
#reverse
l=[7,4,8,2,4,6,1,2,0]
print(l)
l.reverse()
print(l)
#sort
l.sort()
print(l)
l.sort(reverse=True)
print(l)
l=[7,4,8,2,4,6,1,2,0]
print(sorted(l))
print(l)

In [ ]:
print('문자열'+'문자열')
print([1,2,3]+[4,5,6])
print((1,2,3)+(4,5,6))

In [109]:
print(type([]))
print(type((1,)))
print(type({}))

<class 'list'>
<class 'tuple'>
<class 'dict'>

In [111]:
a=1,2,3
type(a)

tuple

## 리스트 문제

Q1

In [113]:
l=[]
Num=[]
for i in range(100):
    if len(Num) == 0:
        Num = list(map(int, input("입력(구분자 ' ')").split()))
    x = Num.pop(0)
    if x==0:
        break
    l.append(x)
for i in l[::-1]: 
  print(i,end=' ')
print()

입력(구분자 ' ')123 4 5 6 7 8
입력(구분자 ' ')5
입력(구분자 ' ')1 2 3 0
3 2 1 5 8 7 6 5 4 123

Q2

In [115]:
ar1=[]
ar2=[]
ar3=[]
Num=[]
c=0
while c!=10:
    if len(Num)==0:
        Num = list(map(int,input("입력(구분자 ' ')").split()))
    n=Num.pop(0)
    if 0<= n <=50:
        ar1.append(n)
    elif 51<= n <=100:
        ar2.append(n)
    elif 101<=n:
        ar3.append(n)
    c+=1
print(f"0~50 숫자 : ",end='')
for i in ar1:
  print(i,end=' ')
print()
print(f"51~100 숫자 : ",end='')
for i in ar2:
  print(i,end=' ')
print()
print(f"101~ 숫자 : ",end='')
for i in ar3:
  print(i,end=' ')
print()

입력(구분자 ' ')1 50 60 32 0 5 0 3 6 9 8 7 4 5 6 1 2
0~50 숫자 : 1 50 32 0 5 0 3 6 9
51~100 숫자 : 60
101~ 숫자 :

Q3

In [141]:
l=[0 for i in range(26)]
Num=[]
while True:
  if len(Num)==0:
    Num = input("입력(구분자 ' ')").split()
  x = Num.pop(0)
  if not('A'<=x and x<='Z'):
      break
  l[ord(x)-ord('A')]+=1
for i in range(len(l)):
  if l[i] !=0:
    print(f"{chr(i+ord('A'))}:{l[i]}")

입력(구분자 ' ')A S D F 2 F
A:1
D:1
F:1
S:1

Q4

In [137]:
l=list(map(int,input("입력(구분자 ' ')").split()))
for i in l[::-1]:
    print(i,end=" ")

1 2 3 4 5 6 7 8 9
9 8 7 6 5 4 3 2 1

Q5

In [140]:
dx=[1,0,-1,0]
dy=[0,1,0,-1]
d=0
x=y=0
n=int(input("정수입력:"))
a=[[0 for _ in range(n)]for _ in range(n)]
for i in range(1,n*n+1):
    a[y][x]=i
    yy = y +dy[d]
    xx = x +dx[d]
    if (yy>=0 and yy<n) and (xx>=0 and xx<n):
        if a[yy][xx] ==0:
            x=xx
            y=yy
        else:
            d = (d+1)%4
            x+=dx[d]
            y+=dy[d]
    else:
        d = (d + 1) % 4
        x += dx[d]
        y += dy[d]

for i in a:
    for j in i:
        print(j,end="\t")
    print()

정수입력:5
1	2	3	4	5
16	17	18	19	6
15	24	25	20	7
14	23	22	21	8
13	12	11	10	9

In [156]:
list(map(int,input().split()))

1 2 3 4

[1, 2, 3, 4]

In [154]:
l=[]
for i in input().split():
  l.append(int(i))
l

1 2 3 4

[1, 2, 3, 4]

In [155]:
[int(i) for i in input().split()]

1 2 3 4

[1, 2, 3, 4]

In [159]:
ck=[]
for i in [1,2,3,4,5,6,1,2]:
  if i not in ck:
    print(i)
  ck.append(i)

1
2
3
4
5
6